body {
    background-color: #e5e5e9;
}

.colormenu{
    background-color: #316064;
}

.colorLinkMenu{
    color: #e5e5e9;    
}

.colorLinkMenu:hover{
    color: #73c0b0;    
}

.logo{
    height: 200px;
    width: auto;
}

.espaco-entre-secao{
    padding-top: 50px;
}

.bg-footer{
    background-color: #316064;
}

.tamanhoSlides{
    height: 850px;
    filter: brightness(60%);
}

.btn-primary {
    background-color: #316064;
    border-color: #316064;
    color: #e5e5e9;
}

.btn-primary:hover {
    background-color: #73c0b0;
    border-color: #73c0b0;
}

a{
    color: #316064;
    font-weight: bold;
}

a:hover{
    color: #73c0b0;
    font-weight: bold;
    text-decoration: none;
    
}

.card{
    border-radius: 15px;
}

.imgSite{
    width: 550px;
    margin-top: 10px;
    border-radius: 15px;
}

.cardAtencao{
    background-color: #b8d7d5 !important; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
}

.fa-solid{
    color: #316064;
    margin-left: 30px;
    margin-right: 15px;
    font-size: 20px;    
}

.cardPessoa {
  border-radius: 15px;
  background-color: #b8d7d5;
  position: relative;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  height: 250px;
  width: 250px;
  padding: 20px;
  text-align: center;
  margin-left: 20px;
}

.imgPessoa {
  background-color: #73c0b0;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  margin: 20px auto;
  
}

.iconePessoa {
  font-size: 40px;
  margin: 20px;
}
